name: Unittests
run-name: Unittests for ${{ github.sha }}
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Unittests for Python ${{ matrix.python-version }} on ${{ matrix.os }}
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
      - name: Install uv with Python version ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Installing dependencies with uv for running the tests
        run: uv pip install -r pyproject.toml --extra test
      - name: Run unittests with pytest
        run: python -m pytest -v
        working-directory: .
      - name: Run the notebook with pytest
        run: python -m pytest --nbmake Readme.ipynb
        working-directory: .
